@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Poppins", sans-serif;
  background-color: #b6b4b9;
}
input {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 80%;
  background-color: #b6b4b9;
  min-height: 100vh;
  overflow: hidden;
  margin: auto;
}
 .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 20px;
}
.logout-button{
  
  width: 115px;
  background-color: #6c3c3d;
  border: none;
  outline: none;
  height: 40px;
  border-radius: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.title-text{
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
  text-align: center;
}

.import-button {
  background-color: #2f6e31; /* Green background */
  border: none;
  color: white;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  transition: background-color 0.3s;
  width: 130px;
}

.import-button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/* Style for the file input */
#csvFile {
  display: none; /* Hide the default file input */
}

/* Style for the label acting as a button */
label[for="csvFile"] {
  background-color: #620e00; /* Blue background */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  transition: background-color 0.3s;
  width: 130px;
}

label[for="csvFile"]:hover {
  background-color: #620f007a; /* Darker blue on hover */
}
.button-class{
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.button-cal{
  background-color: #620e00; /* Blue background */
  border: none;
  color: white;
  padding: 7px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 40px;
  transition: background-color 0.3s;
}
.button-cal:hover {
  background-color: #620f007a; /* Darker blue on hover */
}
/* Style général du tableau */
#memberTable {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  margin-bottom: 20px;
}

/* Style de l'en-tête */
#memberTable thead {
  background-color: #f2f2f2;
}

#memberTable th {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
  font-weight: bold;
}

/* Style des cellules */
#memberTable td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Style alterné des lignes pour une meilleure lisibilité */
#memberTable tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Effet de survol sur les lignes */
#memberTable tbody tr:hover {
  background-color: #620f006f;
}

/* Style pour la première colonne (Member) */
#memberTable td:first-child {
  font-weight: bold;
}

/* Responsive design pour les petits écrans */
@media screen and (max-width: 600px) {
  #memberTable {
      font-size: 14px;
  }
  
  #memberTable th, #memberTable td {
      padding: 5px;
  }
}
#result {
  max-width: 600px;
  margin: 20px auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#result h2 {
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#rankingList {
  list-style-type: none;
  padding: 0;
}

#rankingList li {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in-out;
}

#rankingList li:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/* #rankingList li::before {
  content: counter(item) ". ";
  counter-increment: item;
  font-weight: bold;
  margin-right: 10px;
  color: #4a4a4a;
  font-size: 1.2em;
} */

#rankingList li:nth-child(1) {
  background-color: #ffd700;
  font-weight: bold;
}

#rankingList li:nth-child(2) {
  background-color: #c0c0c0;
}

#rankingList li:nth-child(3) {
  background-color: #cd7f32;
}

@media screen and (max-width: 480px) {
  #result {
      padding: 10px;
  }

  #rankingList li {
      padding: 10px;
  }
}
.input-values-members{
  outline: none;
  border: 1px solid #8e2218;
  border-radius: 20px;
  line-height: 1;
  font-weight: 200;
  color: #8e2218;
  text-align: center;
  font-size: 12px;
  height: 25px;
}
#addMemberForm{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}